.from_box {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  :global(.ant-form-item-label) {
    text-align: left;
  }
}
.imgbox{
  padding-top: 50px;

}
.tittle{
  font-size: 16px;
  border-left: 4px solid #1da57a;
  padding: 0 0 0 10px;
  margin-bottom: 40px;
}
.add{
  text-align: center;
  cursor: pointer;
  width: 100%;
  .icon{
    color:#1da57a;
  }
}