.uploadbox{
  padding-top: 20px;
  :global(.ant-upload){
    width: 100%;
  }
}
.updatebtn{
  width: 80%;
  margin: 10px auto;
  display: block;
}
.selectBox{
  width: 80%;
  margin:0 auto;
  .selectLable{
    text-align: center;
    color: #fff;
    background: #1da57a;
    border-radius: 6px;
    margin: 0;
    line-height: 30px;
  }
  .selectWrap{
    width: 100%;
  }
}
