.blogobox{
  margin-left: 10px;
}

.btnbox{
  text-align: center;
}

.userlogobox{
  cursor: pointer;
}
.img_wrap{
  width: 100%;
}

.carbox{
  position: relative;

  .carbtn{
    position: absolute;
    padding: 0 5px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 30px;
  }
  .leftbtn{
    left: 0;
  }
  .rightbtn{
    right:0;
  }
}
.canvasWrap{
  width: 880px;
  .inlinebox{
    width: 880px;
    overflow-x: auto;
  }
  :global(.konvajs-content){
    margin: 0 auto;
  }
}

.modalbg{
  z-index: 9;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(27, 27, 27, 0.58);
  display: flex;
  align-items: center;
  justify-content: center;
  .modaldiv{
    border-radius: 10px;
    width: 900px;
    background: #fff;
    height: auto;
    position: relative;
    .tittle{
      padding: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #9dd0c0;
      font-weight: bold;
      font-size: 16px;
    }
    .body{
      padding: 10px;
      height: auto;
    }
    .footer{
      box-sizing: border-box;
      padding: 10px;
      border-top: 1px solid #9dd0c0;
      &:after{
        display: block;
        content: '';
        clear: both;
      }
      button{
        float: right;
      }
    }
  }
}
.none{
  display: none;
}